<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>URL Alias</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
    <link rel="stylesheet" href="options.css">
  </head>
  <body>
    <div id="app" class="main ui container">
      <h1 class="ui header">
        URL Alias
        <span class="sub header">
          Manage your URL aliases.
        </span>
      </h1>
      <form class="ui form" action>
        <alias-input v-for="a in aliases" v-bind.sync="a"></alias-input>
        <alias-input v-bind.sync="newAlias"></alias-input>
        <button v-on:click="save" type="button" class="ui button">Save</button>
      </form>
    </div>
    <script type="text/x-template" id="alias-input-tmpl">
      <div class="two fields">
        <div v-bind:class="{error: aliasError}" class="four wide field">
          <input
            v-bind:value="alias"
            v-on:input="$emit('update:alias', $event.target.value)"
            type="text" name="alias" placeholder="e/"
          >
          <div v-if="aliasError" class="ui pointing label">
            Please use lower case alphabet only.
          </div>
        </div>
        <div v-bind:class="{error: destError}" class="twelve wide field">
          <input
            v-bind:value="dest"
            v-on:input="$emit('update:dest', $event.target.value)"
            type="text" name="dest" placeholder="https://www.example.com/"
          >
          <div v-if="destError" class="ui pointing label">
            Please input a valid URL.
          </div>
        </div>
      </div>
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>
    <script type="text/javascript" src="options.js"></script>
  </body>
</html>
